{% extends 'skeleton.html.twig' %}

{% block title %}Modify Article{% endblock %}


{% block content %}

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary">Submit</button>
{{ form_end(form) }}
<a class="btn btn-danger" href="{{path('remove-article', {id:article.id})}}">Delete</a>

{% endblock content %}

