$link-color: rgb(255, 255, 255);
$link-decoration: none;

h1.banner {
  text-align: center;
}

h5.card-header {
  a:link {
    color: $link-color;
    text-decoration: $link-decoration;
  }

  a:hover {
    text-decoration: underline;
  }

  a:visited {
    color: $link-color;
    text-decoration: $link-decoration;
  }
}

nav.navbar {
  margin-bottom: 10px;
}

div.footer{

  p {
    color: white;
    text-decoration: solid;
  }

  a:link {
    color: $link-color;
    text-decoration: $link-decoration;
  }

  a:hover {
    text-decoration-color: rgb(235, 92, 235)
  }

  a:visited {
    color: $link-color;
    text-decoration: $link-decoration;
  }
}

h1 {
  text-decoration-line: underline;
  text-decoration-style: solid;
}