<footer class="container">
    <div class="row">
    </div> 
    <div class="footer col-12 bg-dark justify-content-around fixed-bottom d-flex">
        {% block footNav %}
        <p>Pasteleft</p>
        <a href="">Facebook</a>
        <a href="">Twitter</a>
        <a href="">Instagram</a>
        {% endblock footNav %}
    </div>
    </div>
</footer>