<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark container">
        {#<a class="navbar-brand" href="#">Navbar</a>#}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Recherche</button>
              </form>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{path('home')}}">Accueil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{path('aboutme')}}">About me<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{path('contactme')}}">Contact<span class="sr-only">(current)</span></a>
            </li>
          </ul>
  
          <a href="{{path('create-article')}}" class="btn btn-primary">Create Article</a>
  
        </div>
      </nav>
</header>