{% extends "skeleton.html.twig" %}

{% block title %}
  Article
{% endblock title %}

{% block content %}
  <h1>{{result.title}}</h1>

  <p>result.articleContent</p>
  <p>result.date</p>
  
{% endblock content %}