{% extends "skeleton.html.twig" %}

{% block title %}
  Home
{% endblock title %}

{% block content %}
<div class="container-fluid"></div>
<h1 class="banner">Blog!</h1>
  <div class="row d-flex flex-wrap flex-row justify-content-around align-items-start">
    {% for row in result %}
    <div class="col-lg-4 col-sm-6">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
         
            <h5 class="card-header"><a href="{{path('article', {id:row.id})}}">{{row.title}}</a></h5>
           
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="color: rgb(255, 255, 255); background-color: rgb(39, 39, 39);">{{row.leadParagraph}}</li>
                </ul>
                
                <div class="card-body">
            <a href="{{path('modify-article', {id:row.id})}}" class="btn btn-secondary btn-sm">Modify</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    </div>
    
  </div>
{% endblock content %}
